#HomePage-header {
    color: white;

    position: fixed;
    top: 1vh;
    z-index: 2;

    width: 100%;
}

#HomePage-header a {
    display: block;

    margin: 0 10px 0 0px;

    text-align: end;
}

#HomePage-header a:hover {
    color: rgb(234, 230, 230);
    cursor: pointer;
}