#UploadPage-main #upload-info {
    background-color: black;
    color: white;

    margin: 0px 0px 10px;
}

#UploadPage-main #upload-info h1 {
    font-size: 5vw;
    
    margin: 0;
    padding: 20px 0px 0px 0px;

    text-align: center;
}

#UploadPage-main #upload-info aside {
    font-size: 1.1vw;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    
    width: 30%;

    margin: 15px 0px;

    text-align: center;
}